.graph-link {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.graph-link-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  color: var(--light);
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease;
  font-family: var(--headerFont);
}

.graph-link-button:hover {
  filter: brightness(0.9);
}
